includes:
    - vendor/larastan/larastan/extension.neon
    
parameters:
    paths:
        - app
        - tests
    level: 3
    ignoreErrors:
        - '#^Property App\\Models\\[a-zA-Z]+\:\:\$primaryKey \(string\) does not accept default value of type array\<int, string\>\.$#'
        - 
            message: '#^Argument of an invalid type string supplied for foreach, only iterables are supported\.$#'
            path: app/Models/Traits/HasCompositePrimaryKey.php

    excludePaths:
        - app/Providers

    