includes:
    - vendor/larastan/larastan/extension.neon
    
parameters:
    paths:
        - app
        - tests
    level: 1
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - app/Providers


    checkMissingIterableValueType: false
    